@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: black;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.header {
    background-image: url('./images/flowdogshop.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* About */

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: black;
    margin: 2em;
}

.about img {
    height: 30rem;
    border-radius: 50%
}

.about span {
    display: block;
    color: #888;
    width: 100%;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}

/*Flow Dog Shop*/

.flowdogshop {
    margin: 4em 0;
    position: relative;
}

.flowdogshop h1 {
    color: black;
    margin: 2em;
}

.flowdogshop .img-container {
    overflow: hidden;
    position: relative;
    height: 30rem;
}

.flowdogshop .img-container:hover .img-overlay {
    opacity: 1;
}

.flowdogshop .img-container:hover .text-overlay {
    opacity: 1;
}

.flowdogshop img {
    margin: 1em;
    display: block;
    width: 100%;
    height: auto;
}

.flowdogshop .img-overlay {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
}

.flowdogshop .text-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white; 
    font-size: 20px;
    padding: 20px;
    margin-left: 1rem;
    text-align: center;
}



/*Contact Form*/

.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: black;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: black;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

.footer {
    border-top: 1px solid #e8e8e8c2;
    padding: 30px
}